# For web transfer to work
WIFI_SSID = "ssid"
WIFI_PASSWORD = "password"

# These commands are specific to the UM98x series for GPS receivers
GPS_INIT_COMMANDS = [
    "unlogall",
    "config signalgroup 2",
    "mode rover",
    "config sbas enable span",
    "gngga 1",
    "gnrmc 1",
    "version"
]

# How many GPS coords to buffer before writing to the SD Card  (1hz)
LINES_TO_BUFFER = 10